.header {
    margin-bottom: 2em;
    text-align: center;
}

:root {
    --fundo: #0e0e0e;
}

body{
    font-family: "roboto";
    text-align: center;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--fundo);
    color: #ffff;

}

.corpo h1, h2{
    text-align: center;
}

.corpo article {
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
}

:root {
    --CorDoFundo: #393c3d;
}

.corpo {
    width: 100%;
    margin: 0px 50px;
    text-align: center;
}

.corpo .video {
    border-radius: 500px;
}
